build*/
obj/
venv/
dumb-compile/build/
dumb-compile/CMakeFiles/
.vs/
CMakeLists.txt.user*
CMakeSettings.json
nrogue
save.nrg
core.*
*.txt
!config-template.txt
!SDL2 QT Creator config.txt
!CMakeLists.txt
!tests/README.txt
!/CREDITS.txt
*.out
*.exe
/*.bmp
